<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../dist/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../dist/css/font/font-awesome.css">
    <link rel="stylesheet" href="../dist/css/common/common.css">


    <title>Profile page</title>


</head>

<body class="flex">
    
    <!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->

    <section class="col-md-12 rem-pad nav-height border">

        

        <footer class="nav-head">

            <div>Copyright &copy; 2017 my app. All rights reserved.</div>

        </footer>



    </section>




</body>

</html>