<!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->

<section class="col-md-12 rem-pad nav-height border">

    <div class="container-fluid rem-pad">
        <div class="col-md-4 nav-search-pad rem-pad nav">
            <i class="fa fa-bars nav-head cust-nav-header-pad" aria-hidden="true"></i>
            <input type="text" name="search-btn" class="nav-head form-control txt-field bor-rad" placeholder="Search">
        </div>

        <div class="col-md-4 rem-pad">

        </div>

        <div class="col-md-4 rem-pad nav-search-pad nav-head-right float-right">

            <i class="fa fa-envelope-o nav-head cust-nav-header-pad" aria-hidden="true"></i>
            <i class="fa fa-bullhorn nav-head cust-nav-header-pad" aria-hidden="true"></i>
            <img src="../images/img1.jpg" alt="profile pictures" class="img-circle profile-sm">
            <span class="font-md">John De</span>
        </div>
    </div>
    <!--XXXXXXXXXXXXXXX-->
    
    
