<!-- remaining things in this html
    2.Fonts- custom font must be loaded into the design(need some work around in @font-face)

    PARTIAL DONE-3. Doesnt looks like error but there is one in footer container,
        the shadow is not wrapping all around footer section,(need some work aroud there too.)

    
    
    ****For easy adapting to the code, "XXXXXXXXXXXXXXXX" are used to understand where a particuar block or 
div or section ends-->



<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../dist/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../dist/css/font/font-awesome.css">
    <link rel="stylesheet" href="../dist/css/common/common.css">

    <title>Login</title>
</head>

<body class="full-width">
    <section class="row cust-pad-t">

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style = "font-family : best1;">
            <!-- this column of 4 is kept blank for arranging content in center-->
        </div>

        <!--XXXXXXXXXXXXXXXXXXXXXXXXXXXX-->

        <section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 shadow rem-pad">

            <header>
                <div class="heading">
                    <img src="../images/logo.png" class="logo" alt="">
                </div>
                
            </header>

            <section class="sec-heading">
                <article class="box-pad font-xl">Login Form</article>

                <form>
                    <div class="row box-pad">
                        <div class="col-md-12">
                            <div class="form-group has-feedback">
                            <p class="label-pad">Email</p>
                             <input type="email" name="email" class="form-control" placeholder="Email">
                                 
                      
                            </div>
                        </div>

                        <div class="col-md-12">
                                <div class="form-group has-feedback">               
                            <p class="label-pad">Password</p>
                            <input type="password" name="pass" class="form-control" placeholder="Password">
                            <i class="fa fa-lock form-control-feedback icon-pad"></i> 
                            
                        </div>
                        </div>
                    </div>

                    <div class="box-pad">
                        <div class="pad-btm-links">
                            <a class="links">Forgot password?</a>
                            <span class="float-right"><input type="checkbox" name="checkbox"> <span>Keep me logged in</span></span>
                        </div>
                    </div>
                </form>

                <footer>
                    <article class="box-pad sec-heading">
                        <div class="float-right">
                            <button ui-sref="register" class="btn btn-info btn-pad">Register</button>
                            <button ui-sref="dashboard" class="btn btn-primary btn-pad">Login</button>
                        </div>
                    </article>
                </footer>
            </section>



        </section>

        <!--XXXXXXXXXXXXXXXXXXXXXXXXXXXX-->


        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="font-family : best; ">
            <!-- this column of 4 is kept blank for arranging content in center-->
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five
            centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
            in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>

        <!--XXXXXXXXXXXXXXXXXXXXXXXXXXXX-->


    </section>
</body>

</html>