<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../dist/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../dist/css/font/font-awesome.css">
    <link rel="stylesheet" href="../dist/css/common/common.css">


    <title>Profile page</title>


</head>

<body class="flex">
    <aside class="alpha-bar">
        <header class="fluid-container rem-pad">

            <div class="heading">
                <!--this div consists of blue heading colour block    -->
            </div>

            <div class="profile-bg">
                <div class="fluid-container rem-pad">
                    <div class="col-md-3 rem-pad prof-img-pad">
                        <img src="../images/img1.jpg" alt="profile pictures" class="img-circle profile-md">
                    </div>

                    <div class="col-md-9 rem-pad user-name">
                        <span class="font-md">John De</span>
                        <p class="user-status font-default">Online</p>
                    </div>
                </div>
            </div>

        </header>


        <!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->


        <section>
            <header class="nav-head dash-bg">
                Menu
            </header>

            <section class="contianer-fluid rem-pad">
                <div class="nav-head col-md-12 flex">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                    <span class="nav-menu-cust"><a href="#" class="nav-links">Dashboard</span>
                    <span><i class="fa fa-angle-left" aria-hidden="true"></i></a></span>
                </div>
                <div class="nav-head col-md-12 flex">
                    <i class="fa fa-life-ring" aria-hidden="true"></i>
                    <span class="nav-menu"><a href="#" class="nav-links">sample link1</span>
                    <span class="nav-menu-icon"><i class="fa fa-angle-left" aria-hidden="true"></i></a></span>
                </div>
                <div class="nav-head col-md-12 flex">
                    <i class="fa fa-life-ring" aria-hidden="true"></i>
                    <span class="nav-menu"><a href="#" class="nav-links">sample link2</span>
                    <span class="nav-menu-icon"><i class="fa fa-angle-left" aria-hidden="true"></i></a></span>
                </div>
                <div class="nav-head col-md-12 flex">
                    <i class="fa fa-th" aria-hidden="true"></i>
                    <span class="nav-menu"><a href="#" class="nav-links">sample link3</span>
                    <span class="nav-menu-icon"><i class="fa fa-angle-left" aria-hidden="true"></i></a></span>
                </div>
                <br><br><br><br><br>
                <br><br><br><br><br>
                <br><br><br><br><br>
            </section>
        </section>

    </aside>
    <!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->

    <section class="col-md-12 rem-pad nav-height border">

        <div class="container-fluid rem-pad">
            <div class="col-md-4 nav-search-pad rem-pad nav">
                <i class="fa fa-bars nav-head cust-nav-header-pad" aria-hidden="true"></i>
                <input type="text" name="search-btn" class="nav-head form-control txt-field bor-rad" placeholder="Search">
            </div>

            <div class="col-md-4 rem-pad">

            </div>

            <div class="col-md-4 rem-pad nav-search-pad nav-head-right float-right">

                <i class="fa fa-envelope-o nav-head cust-nav-header-pad" aria-hidden="true"></i>
                <i class="fa fa-bullhorn nav-head cust-nav-header-pad" aria-hidden="true"></i>
                <img src="../images/img1.jpg" alt="profile pictures" class="img-circle profile-sm">
                <span class="font-md">John De</span>
            </div>
        </div>
        <!--XXXXXXXXXXXXXXX-->

        <div class="container dash-bg col-md-12">
            <header class="dash-head font-xl">
            </header>
        </div>

        <!--XXXXXXXXXXXXXXXX-->

        <div class="container-fluid dash-bg">
            <div class="col-md-12 rem-pad label-pad font-lg content-bg border">
                <section class="main-box-content">
                    <span> User Profile</span>
                    <div class="col-md-12 container rem-pad">
                        <div class="col-md-6 rem-pad as font-md">
                            <p>First Name</p>
                            <input type="text" name="fname" class="form-control" placeholder="First name">
                            <i&nbsp;class="fa fa-phone form-control-feedback">
                                </i>

                                <p class="label-pad">Email</p>
                                <input type="email" name="fname" class="form-control" placeholder="Email">
                                <i&nbsp;class="fa fa-phone=" " form-control-feedback"="">
                                    </i&nbsp;class="fa">


                                    <p class="label-pad">Company</p>
                                    <input type="text" name="company" class="form-control" placeholder="Company">
                                    <i&nbsp;class="fa fa-phone=" " form-control-feedback"="">
                                        </i&nbsp;class="fa">

                        </div>

                        <div class="col-md-6 rem-pad font-md">
                            <p>Last Name</p>
                            <input type="text" name="lname" class="form-control" placeholder="Last name">

                            <p class="label-pad">Contact Number</p>
                            <input type="text" name="contactNumber" class="form-control" placeholder="Contact Number">

                            <p class="label-pad">Website</p>
                            <input type="url" name="website" class="form-control" placeholder="https://">
                        </div>

                        <div class="col-md-12 font-md rem-pad">
                            <p class="label-pad">Gender</p>
                            <input type="radio" name="gender" value="gen">Male
                            <input type="radio" name="gender" value="gen"> Female

                            <p class="label-pad">Bio</p>
                            <textarea name="bio" class="form-control" rows="3" placeholder="Bio"></textarea>
                            <br>

                            <select class="form-control" name="education">
                                    <option value="">Select Education</option>
                                    <option value="">BE</option>
                                    <option value="">Diploma</option>
                                    <option value="">Post Graduation</option>    
                                </select>
                            <br>

                            <input type="checkbox" name="checkbox">
                            <span>Remember me</span>
                            <br>

                            <p><br><button class="btn btn-default btn-pad">Submit</button></p>
                        </div>

                    </div>

                </section>

            </div>

            <div class="container dash-bg col-md-12">
                <header class="dash-head">
                    <!--main content footer section  -->
                </header>
            </div>


        </div>

        <footer class="nav-head">

            <div>Copyright &copy; 2017 my app. All rights reserved.</div>

        </footer>



    </section>




</body>

</html>